<div class="card" style="width: 36rem;">
    <div class="card-body">
        <h2 class="card-title">About Us</h2>
        <h5 class="card-text">Leading the Way in Doggy Day Care, Boarding, and More
        It’s important to get to know your pup care provider, as you are trusting us with a furry member of your family. With
        Paws and Claws, you can rest assured your dog is in the best, most qualified hands in the business. Since 2000, we have
        been providing fun and dependable dog care services parents and pups love.
        
        Two of our most common services are:
        
        Doggy day care – You’re busy but don’t want your pup to feel alone. We totally understand! That’s why we offer doggy day
        care, where your pup can run around with other dogs while cared for by our Certified Camp Counselors®. We have spacious
        play areas for maximum fun.
        Dog boarding – If you’re going away for a single night or multiple weeks, our boarding service treats dogs like family.</h5>
    
    </div>
</div>
    