<div class="container content">
    <br>
    <div class="text-left">
<a href="/">
<button type="button" class="btn btn-success" href="/">Go Back</button></a>
</div>
<div class="card">
  <h1>Paw's and Claw's Contact Page</h1>
  <p>
    Feel Free to contact us via email or phone call
  </p>
</div>



{{!-- LINK THIS TO SIGNIN PAGE --}}
<div class="card">
  <h2>Send e-mail to paws and claws boarding:</h2>

<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
</div>

<h3>
<a href="tel:18475555555">Click Here To Call Support 1-847-555-5555</a></h3> 



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>