<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/video/Pexels Videos 2004819.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Paws and Claws</h1>
        <p class="lead mb-0">Make an appointment to board your animal with us.
        </p>
      </div>
    </div>
  </div>
</header>
</br>
{{!-- LINK THIS TO SIGNIN PAGE --}}
<div class="text-center">
  <a href="/signin">
    <button type="submit" class="btn btn-secondary btn-lg" id="homeBtn">
      <span class="fas fa-paw"></span>Click here to Login</button>
</div>
</div>
</br>
{{!-- LINK CONTACT PAGE HERE --}}
<div class="text-center">
  <a href="/contact">
    <button type="button" class="btn btn-success" href="/contact">Contact Us</button></a>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>