<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Reservation</h5>
          <p>
            <strong>Check-In Date</strong>: {{reservation.checkInDate}}</p>
          <p>
          <p>
            <strong>Check-Out Date</strong>: {{reservation.checkOutDate}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
